* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 15px;
    padding: 30px 210px 0px 180px;
}

ul {
    list-style-type: none;
}

.header nav ul {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    color: #84818b;

}

.header {
    margin-bottom: 30px;
}

.list li {
    margin-top: -55px;
    cursor: pointer;
}

.list li:hover{
    color: #545358;
    text-decoration:underline;
}

.desk img {
    width: 50vw;
    height: 40vh;
}

.desk {
    display: flex;
    gap: 2rem;
}

.desk h1 {
    font-size: 2.6rem;
}

.desk > div:last-child {
    background-color: hsl(240, 100%, 5%);
    padding: 1.25rem 1.25rem;
    width: 420px;
    height: 485px;
  }

  .desk > div:last-child h2{
    color: hsl(35,77%,62%);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .desk > div:last-child p{
    color: #a4a5b9;
    line-height: 1.8rem;
  }

  .desk > div:last-child article{
    padding: 1.25rem 0;
  }

  .desk > div:last-child article:not(:last-child){
    border-bottom: 1px solid hsl(236, 13%, 42%);
  }

  .desk > div:last-child h3{
    color: #fff;
    margin-bottom: 1rem;
  }

button{
    background-color: hsl(5,85%,63%);
    border: none;
    color: #fff;
    padding: 0.8rem 2rem;
    outline: none;
    margin-top: 28px;
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-weight:700;
}

button:hover{
    background-color: hsl(5, 89%, 55%);
}

.read {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 30px 0px;
}

.read p {
    line-height: 1.5;
    color: #797880;

}

.cards {
    display: flex;
    justify-content:space-between;
    

}

.card1 span {
    color: hsl(235, 7%, 64%);
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 5px;
}

.card1 p {
    color: #797880;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
}

.card1 {
    display: flex;
}

.card1 h4{
    font-weight: 800;
}
.cards img {
    width: 100px;
    padding-right: 20px;
}